<div class="cr-card">
  <div class="wizard-content">
    <div class="top-heading">
      <h5>
        Customer Name: <span>{{ data?.customer?.customerName }}</span>
      </h5>
      <p class="btn-light collected-btn" [ngStyle]="{ 'background-color': lookupcolor ,'color': lookupTextColor }">{{lookupname}}</p>
    </div>
  </div>
  <div class="wizard-content">
    <div class="row">
      <div class="col-lg-4 col-md-6 filterFlex">
        <label><b>Paid Amount</b></label>
        <div class="form-group input-group search-box p-3">
          {{ (data?.cardCollectionJod | number) ? (data?.cardCollectionJod | number : '1.3-3') + ' JOD' : '-' }}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 filterFlex">
        <label><b>Card Type</b></label>
        <div class="input-group search-box p-3">
          <img src="{{ data?.cardType?.lookupImage || '' }}" alt="" width="35px" class="me-3" />
          {{ data?.cardType?.translations[0]?.lookupName || '-' }}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 filterFlex">
        <label><b>Last 4 digits of the card</b></label>
        <div class="input-group search-box p-3">
          {{ data?.cardLast4Digits || '-' }}
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-4 col-md-6 filterFlex">
        <label><b>Payer name</b></label>
        <div class="form-group input-group search-box p-3">
          {{ data?.cardPayerName || '-' }}
        </div>
      </div>

      <div class="col-lg-4 col-md-6 filterFlex">
        <label><b>Credit Card Machine Receipt No.</b></label>
        <div class="input-group search-box p-3">
          {{ data?.machineReceiptNumber || '-' }}
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-4 col-md-6 filterFlex">
        <label><b>Terminal Provider</b></label>
        <div class="form-group input-group search-box p-3">
          <img src="{{ data?.provider?.imageFile || '' }}" alt="" width="35px" class="me-3" />
          {{ data?.provider?.providerName || '-' }}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 filterFlex">
        <label><b>Commission Ratio</b></label>
        <div class="input-group search-box p-3">
          {{ data?.commission + ' %' || '-' }}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 filterFlex">
        <label><b>Net Amount</b></label>
        <div class="input-group search-box p-3">
          {{ (data?.cardCollectionJodNet | number : '1.3-3') + ' JOD' || '-' }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="cr-card">
      <div class="wizard-content">
        <div class="top-heading">
          <h5>Collection Details</h5>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-3 col-md-6 filterFlex">
          <label><b>Branch</b></label>
          <div class="form-group input-group">
            {{ data?.branch?.branchName || '-' }}
          </div>
        </div>
        <div class="col-lg-3 col-md-6 filterFlex">
          <label><b>Register Name</b></label>
          <div class="input-group">
            {{ data?.register?.registersName || '-' }}
          </div>
        </div>
        <div class="col-lg-3 col-md-6 filterFlex">
          <label><b>Register No.</b></label>
          <div class="input-group">
            {{ data?.register?.registerId || '-' }}
          </div>
        </div>
        <div class="col-lg-3 col-md-6 filterFlex">
          <label><b>Session No.</b></label>
          <div class="input-group">
            {{ data?.registerSessionId || '-' }}
          </div>
        </div>
      </div>

      <h5><b>Registered By</b></h5>

      <div class="row my-2">
        <div class="col-lg-3 col-md-6 filterFlex">
          <label><b>Employee</b></label>
          <div class="form-group input-group">
            {{ data.collectedBy?.fullName || '-' }}
          </div>
        </div>
        <div class="col-lg-3 col-md-6 filterFlex">
          <label><b>Date</b></label>
          <div class="input-group">
            {{ data.collectionAt | date : 'dd MMM yyyy' }}
          </div>
        </div>
        <div class="col-lg-3 col-md-6 filterFlex">
          <label><b>Time</b></label>
          <div class="input-group">
            {{ data.collectionAt | date : 'h:mm a' }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="cr-card">
      <div class="wizard-content">
        <div class="top-heading">
          <h5>Settlement Details</h5>
        </div>

        <h5 class="my-5"><b>Settled By</b></h5>

        <div class="row my-2">
          <div class="col-lg-3 col-md-6 filterFlex">
            <label><b>Employee</b></label>
            <div class="form-group input-group">
              {{ data?.settledBy?.fullName || '-' }}
            </div>
          </div>
          <div class="col-lg-3 col-md-6 filterFlex">
            <label><b>Date</b></label>
            <div class="input-group">
              {{ data.settledAt | date : 'dd MMM yyyy' }}
            </div>
          </div>
          <div class="col-lg-3 col-md-6 filterFlex">
            <label><b>Time</b></label>
            <div class="input-group">
              {{ data.settledAt | date : 'dd MMM yyyy' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11"></div>

    <div class="col-md-1">
      <div class="btns-group">
        <button type="button" class="btn btn-cancel" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
