<div class="cr-card">
  <div class="top-heading">
    <h5>
      Cheque Details
    </h5>
    <div class="dropdown" *ngIf="depositeDetail?.statusObj?.translations?.[0]?.lookupName != 'Collected'">
      <div class="check-drop-btn  dropdownButton" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fa-solid fa-ellipsis"></i>
      </div>
      <ul class="dropdown-menu menu" aria-labelledby="dropdownMenuButton1" >
        <li *ngIf="depositeDetail?.statusObj?.translations?.[0]?.lookupName == 'Deposited'
        || depositeDetail?.statusObj?.translations?.[0]?.lookupName == 'Re-deposited'
        || depositeDetail?.statusObj?.translations?.[0]?.lookupName == 'Replaced';else secondBlock">
          <a class="dropdown-item" (click)="depositDetail(item)" *ngFor="let item of firstActionList" >
           {{ item?.name?.[0].lookupName}}
          </a>
        </li>

        <ng-template #secondBlock>
          <li *ngIf="depositeDetail?.statusObj?.translations?.[0]?.lookupName == 'Returned' || depositeDetail?.statusObj?.translations?.[0]?.lookupName == 'Bounced';else thirdBlock">
            <a class="dropdown-item" (click)="depositDetail(item)" *ngFor="let item of secondActionList" >
             {{ item?.name?.[0].lookupName}}
            </a>
          </li>
        </ng-template>
        <ng-template #thirdBlock>
          <li *ngIf="depositeDetail?.statusObj?.translations?.[0]?.lookupName == 'Collected'">
            <!-- <a class="dropdown-item" (click)="depositDetail(item,row)" *ngFor="let item of actionList" >
             {{ item?.name?.[0].lookupName}}
            </a> -->
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
  <div class="cr-card">
    <div class="card-head">
      <div class="row">
        <div class="col-lg-2">
          <h6 class="title">
            Cheque
            No.
          </h6>
        </div>
        <div class="col-lg-2">
          <h6 class="title">
            Customer Name
          </h6>
        </div>
        <div class="col-lg-2">
          <h6 class="title">
            Bank Name
          </h6>
        </div>
        <div class="col-lg-2">
          <h6 class="title">
            Due Date
          </h6>
        </div>
        <div class="col-lg-2">
          <h6 class="title">
            Amounts
          </h6>
        </div>
        <div class="col-lg-2">
          <h6 class="title">
            Collection
            Date
          </h6>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-lg-2">
          <p *ngIf="depositeDetail?.chequeNo">{{depositeDetail?.chequeNo}}</p>
          <p *ngIf="!depositeDetail?.chequeNo">---</p>
        </div>
        <div class="col-lg-2">
          <p *ngIf="depositeDetail?.customer?.customerName">{{depositeDetail?.customer?.customerName}} <br />
            {{depositeDetail?.customer?.mobile}}</p>
          <p *ngIf="!depositeDetail?.customer?.customerName">---</p>
        </div>
        <div class="col-lg-2">
          <p *ngIf="depositeDetail?.bank?.translations?.[0]?.lookupName"> <img [src]="depositeDetail?.bank?.imagePath"
              height="25px" width="25px" /> {{depositeDetail?.bank?.translations?.[0]?.lookupName}}</p>
          <p *ngIf="!depositeDetail?.bank">---</p>
        </div>
        <div class="col-lg-2">
          <p *ngIf="depositeDetail?.chequeDate">{{depositeDetail?.chequeDate | date :'dd MMM yyyy'}}</p>
          <p *ngIf="!depositeDetail?.chequeDate">---</p>
        </div>
        <div class="col-lg-2">
          <p *ngIf="depositeDetail?.chequeCollectionJod">{{depositeDetail?.chequeCollectionJod}}</p>
          <p *ngIf="!depositeDetail?.chequeCollectionJod">---</p>
        </div>
        <div class="col-lg-2">
          <p *ngIf="depositeDetail?.collectedAt">{{depositeDetail?.collectedAt | date :'dd MMM yyyy'}}</p>
          <p *ngIf="!depositeDetail?.collectedAt">---</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wizard-form-body">

  <div class="main-content">
    <div class="cr-card">
      <div class="top-heading">
        <h5>
          Cheque Life Cycle
        </h5>
      </div>
      <div class="wizard-form wizard-form2">
        <ul id="progressBar" class="progressbar">
          <li *ngFor="let step of steps; let i = index" [id]="'progressList-' + (i+1)"
            [ngStyle]="{'background-image': 'url(' + step?.imagePath + ')'}"
            class="d-inline-block fw-bold position-relative text-center float-start progressbar-list"
            [ngClass]="{'active': step.id == depositeDetail?.statusObj?.lookupId}">
            {{step?.name?.[0].lookupName}}
          </li>
        </ul>

      </div>
    </div>
    <div class="cr-card">

      <div class="wizard-content banner-slider">
        <div class="top-heading">
          <h5>V1 Cheque Image </h5>
          <p 
          class="btn"
          [style.color]="depositeDetail?.statusObj?.lookupTextColor"
          [style.background-color]="depositeDetail?.statusObj?.lookupBGColor"
          >{{depositeDetail && depositeDetail?.statusObj.translations ? depositeDetail?.statusObj.translations?.[0]?.lookupName : '-'}}</p>
        </div>
        <div class="no-image-display" *ngIf="depositeDetail?.chequeImages.length == 0">
          <img
            src="https://cdn.dribbble.com/users/1785628/screenshots/5605512/media/097297f8e21d501ba45d7ce437ed77bd.gif"
            alt="">
          <h3 class="text-center">No Image to display</h3>
        </div>

        <div *ngIf="depositeDetail?.chequeImages.length > 0"  id="carouselExampleIndicators"
          class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button *ngFor="let image of depositeDetail?.chequeImages; let i = index" type="button"
              data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i === 0"
              [attr.aria-current]="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i+1)"></button>
          </div>
          <div class="carousel-inner">
           
            <div *ngFor="let image of depositeDetail?.chequeImages; let i = index" class="carousel-item"
              [class.active]="i === 0">
             
              <img [src]="this.imgUrl+image?.imagePath" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- <div *ngFor="let step of steps; let i = index" [hidden]="current !== i">
                    <div *ngIf="current == 0">
                        <div class="top-heading">
                            <h5>V1 Cheque Image</h5>
                            <p class="btn-light collected-btn">Collected</p>
                        </div>
                        <img src="../../../assets/cheque.png" width="100%" height="300px" />
                    </div>
                </div> -->
        <!-- ................ -->

      </div>
    </div>
    <div class="cr-card">
      <div class="top-heading">
        <h5>Activity log</h5>
        <h6>
          Number of Actions : {{masterActivityLog.length}}
        </h6>
      </div>
      <div class="o-scroll">
        <div class="activity-log-card">
          <div class="row" *ngFor="let item of activityLog;let index = index">
            <div class="col-1">
              <div class="number"> {{index + 1}}</div>
            </div>
            <div class="col-2"><b>Date: </b><span> {{item?.createdAt | date : 'dd/MM/yyyy'}}</span> </div>
            <div class="col-2"><b>Time: </b><span>{{item.createdAt | date : 'hh:mm'}}</span> </div>
            <div class="col-2"><b>By: </b><span>{{item?.createdBy?.fullName}}</span> </div>
            <div class="col-2"><b>Role: </b><span>{{item?.role.name}}</span> </div>
            <!-- <div class="col-3"><b>Action: </b><span>{{item?.createdBy?.fullName }} marked the cheque as a  {{item?.action?.[0]?.lookupName}}</span> </div> -->
            <div class="col-3"><b>Action: </b><span>{{item?.actionDetails}} </span> </div>

          </div>
        </div>
      </div>
      <div class="flex-end-row mt-2 mb-2" *ngIf="activityLog.length == 1 && masterActivityLog.length > 1 " (click)="viewMore()">
        <div class="text-end view-more">
          <a class="hand-cursor"> View More -</a>
        </div>
      </div>
      <div class="flex-end-row mt-2 mb-2" *ngIf="activityLog.length > 1" (click)="viewLess()">
        <div class="text-end view-more ">
          <a class="hand-cursor"> View Less -</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-buttons">
  <button type="button" class="btn btn-cancel " routerLink="/deposit-cheque">Close</button>
</div>
