<div class="modal-body" *ngIf="!message && !isLoading">
  <div class="row">
    <div class="col-lg-12 text-end">
      <span (click)="dismissModal()"><i class="fa-solid fa-xmark fa-2xl text-danger"></i></span>
    </div> </div>
  <form [formGroup]="reasonForm" (ngSubmit)="saveForm()">
    <div class="page-heading">
      <div>
        <h5>
          {{title}}
        </h5>
        <p>You are about to bounce the following cheque</p>
      </div>
      <!-- <p>You are about to return the following cheque</p> -->
      <span class="text-end" *ngIf="!isConfirmShow">
        <span>Bounced By: <span class="soft-text"> Sofy</span></span>
        <span class="last-content">Bounced: <span class="soft-text"> 14/12/2022</span></span>
      </span>
      <span class="text-end" *ngIf="isConfirmShow">
        <p class="collected-btn" [style.color]="details?.statusObj?.lookupTextColor"
          [style.background-color]="details?.statusObj?.lookupBGColor">
          {{details?.statusObj?.translations?.[0].lookupName}} </p>
      </span>
    </div>

    <div class="modal-cr-card">
      <div class="card-head">
        <div class="row">
          <div class="col-lg-2">
            <h6 class="title"> Cheque No. </h6>
          </div>
          <div class="col-lg-3">
            <h6 class="title">
              Customer Name
            </h6>
          </div>
          <div class="col-lg-3">
            <h6 class="title">
              Bank Name
            </h6>
          </div>
          <div class="col-lg-2">
            <h6 class="title">
              Due Date
            </h6>
          </div>
          <div class="col-lg-2">
            <h6 class="title">
              Amounts
            </h6>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-lg-2">
            <p *ngIf="details?.chequeNo">{{details?.chequeNo}}</p>
            <p *ngIf="!details?.chequeNo">---</p>
          </div>
          <div class="col-lg-3">
            <p *ngIf="details?.customer?.customerName">{{details?.customer?.customerName}} <br />
              {{details?.customer?.mobile}}</p>
            <p *ngIf="!details?.customer?.customerName">---</p>
          </div>
          <div class="col-lg-3" *ngIf="details?.bank?.translations;else banks">
            <p *ngIf="details?.bank?.translations?.[0]?.lookupName"> <img [src]="details?.bank?.imagePath" height="25px"
                width="25px" /> {{details?.bank?.translations?.[0]?.lookupName}}</p>
            <p *ngIf="!details?.bank">---</p>
          </div>
          <ng-template #banks>
            <div class="col-lg-3">
              <p *ngIf="details?.bank"> <img [src]="details?.bank?.imagePath" height="25px" width="25px" />
                {{details?.bank}}</p>
              <p *ngIf="!details?.bank">---</p>
            </div>
          </ng-template>
          <div class="col-lg-2">
            <p *ngIf="details?.chequeDate">{{details?.chequeDate | date :'dd MMM yyyy'}}</p>
            <p *ngIf="!details?.chequeDate">---</p>
          </div>
          <div class="col-lg-2">
            <p *ngIf="details?.chequeCollectionJod">{{details?.chequeCollectionJod | number:".3"}} JOD</p>
            <p *ngIf="!details?.chequeCollectionJod">---</p>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-content" *ngIf="detailShow">
      <p>Add Note:</p>
      <textarea rows="5" [appMaxCharacters]="200" class="form-control" formControlName="note"></textarea>
      <div class="text-danger">
        <div
          *ngIf="reasonForm.get('note')?.errors?.['maxlength'] && ( reasonForm.get('note')?.invalid || saveSubmitted)">
          Maximum character limit exceeded ({{
          reasonForm.get('note')?.errors?.['maxlength']?.requiredLength }} characters allowed)
        </div>
        <div
          *ngIf="(reasonForm.get('note')?.invalid && (reasonForm.get('note')?.touched || saveSubmitted)) || (!reasonForm.get('note')?.value && saveSubmitted)">
          <div *ngIf="formControls['note'].errors?.['required']">
            This field is required.
          </div>
        </div>
      </div>
     
      <div class="alert alert-danger text-center mt-3 mb-3 my-2" role="alert" *ngIf="messageError">
        {{ messageError }}
      </div>
    </div>
    <div class="btns-group">
      <button type="button" (click)="dismissModal()" class="btn btn-cancel">
        Close
      </button>
      <button type="submit" class="btn btn-save" *ngIf="isConfirmShow">
        Confirm
      </button>
    </div>
  </form>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<!-- success Message -->

<div *ngIf="message" class="modal-body">
  <div class="message">
    <h5><i class="fa-regular fa-circle-check"></i> {{ message }}</h5>
  </div>
</div>
