<div class="card-page">
    <div class="row">
        <div class="col-md-9">
            <div class="btn-tabs">
                <button type="button" class="btn" *ngFor="let item of depositTypes"
                    [class.active]="item.id === selecteddeposit" (click)="chooseDeposit(item)">
                    {{ item.name}}
                </button>
            </div>
        </div>
        <div class="col-md-3" *ngIf="selecteddeposit == 2">
            <p class="total-amount">Total No. {{ totalAllRecordsCount }}</p>
        </div>
    </div>
    <div class="row" *ngIf="selecteddeposit == 1">
      <app-credit-card-list></app-credit-card-list>
    </div>
    <div class="row" *ngIf="selecteddeposit == 2">
      <app-reconciliation-history></app-reconciliation-history>
    </div>
</div>
