
<div class="card-page">
  <!-- Search bar -->
  <div class="row">
    <div class="col-md-3">
      <div class="input-group search-box">
        <button class="btn" type="button" id="button-addon1" (click)="removeSearch()">
          <i class="fa-solid fa-search"></i>
        </button>
        <input type="text" class="form-control" [formControl]="searchChequeText" numbersOnly placeholder="Search By Cheque Number"
          />
        <button class="btn" type="button" id="button-addon1" [hidden]="searchChequeText.value == null" (click)="removeChequeSearch()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group search-box">
        <button class="btn" type="button" id="button-addon1" (click)="removeSearch()">
          <i class="fa-solid fa-search"></i>
        </button>
        <input type="text" class="form-control" [formControl]="searchText" placeholder="Search By Customer Name" />
        <button class="btn" type="button" id="button-addon1" [hidden]="searchText.value == null" (click)="removeSearch()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
    <div class="col-md-2">
      <ng-select (clear)="onClear()" (change)="handleCategoryChange($event)" class="flex-grow-1 mt-3 mt-md-0"
        placeholder="Search By Status" [items]="statusId" bindLabel="description" bindValue="id">
      </ng-select>
    </div>
    <div class="col-md-2">
      <div class="dropdown">
        <button class="btn dropdownButton more-filter-drop"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          <i class="fa-regular fa-plus"></i> More Filters
        </button>
        <ul class="dropdown-menu menu" aria-labelledby="dropdownMenuButton">
          <li>
            <a class="dropdown-item">
              <input type="checkbox" [(ngModel)]="collectionDate" class="checkBox"
              (change)="filterCollectionDates($event.target)" />
            &nbsp; Collection Date
            </a>
            <a class="dropdown-item">
              <input type="checkbox" [(ngModel)]="dueDate" class="checkBox" (change)="filterDueDates($event.target)" />
            &nbsp; Due Date
            </a>
            <a class="dropdown-item">
              <input type="checkbox" [(ngModel)]="bank" class="checkBox" (change)="filterbank($event.target)" />
              &nbsp;Bank
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-md-2 d-flex justify-content-end">
      <button class="btn btn-add">
        Multi Select
        <svg-icon src="/assets/svg/add-circle.svg" class="icon"></svg-icon> Add Branch
      </button>
    </div> -->
  </div>
  <!-- Deposited Cheques List -->
  <div class="deposited-cheques-list-tabs">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-4">
            <h6>Deposited Cheques List</h6>
          </div>
          <div class="col-lg-8">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-light">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"  value=""
                    checked (click)="IsPDCFilter('')">
                  <label class="form-check-label" for="exampleRadios1">
                    All
                  </label>
                </div>

              </button>
              <button type="button" class="btn btn-light">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="true"
                     (click)="IsPDCFilter(true)">
                  <label class="form-check-label" for="exampleRadios2">
                    PDC Cheques
                     <!-- <span> 5</span> -->
                  </label>
                </div>

              </button>
              <button type="button" class="btn btn-light">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="false"
                     (click)="IsPDCFilter(false)">
                  <label class="form-check-label" for="exampleRadios3">
                    Cheques
                    <!-- <span> 4</span> -->
                  </label>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-1">
        <div class="row">
          <div class="col-lg-6">
            <h6>Reminder List</h6>
          </div>
          <div class="col-lg-6">
            <p>Total No. {{totalAllRecordsCount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Clickfilter -->
  <div class="filterFlex mt-2">
    <!-- Collection date -->
    <div class="dropdown" *ngIf="collectionDate">
      <button class="btn dropdownFilters" type="button">
        <!-- <input type="text" style="height:46px;border:none" (bsValueChange)="onDateValueChange($event)"
                    placeholder="Select Date" class="form-control" bsDaterangepicker> -->

        <input type="text" style="height:46px;border:none" (bsValueChange)="onDateValueChange($event)"
          placeholder="Select Collection Date" class="form-control" bsDaterangepicker
          [bsConfig]="{ containerClass: 'theme-red',isAnimated: true,showClearButton: true}">
        <i class="fa-regular fa-circle-xmark" (click)="removeCollectionDateFilter()"></i>
      </button>
    </div>
    <!-- Due date -->
    <div class="dropdown" *ngIf="dueDate">
      <button class="btn dropdownFilters" type="button">
        <!-- <input type="text" style="height:46px;border:none" (bsValueChange)="onDueDateValueChange($event)"
                    placeholder="Select Date" class="form-control" bsDaterangepicker> -->

        <input type="text" style="height:46px;border:none" (bsValueChange)="onDueDateValueChange($event)"
          placeholder="Select Due Date" class="form-control" bsDaterangepicker
          [bsConfig]="{ containerClass: 'theme-red',isAnimated: true,showClearButton: true}">
        <i class="fa-regular fa-circle-xmark" (click)="removeDueCollectionDateFilter()"></i>
      </button>
    </div>
    <!-- bank -->
    <div class="dropdown" *ngIf="bank">
      <button class="btn dropdownFilters" type="button" id="dropdownbank" data-bs-toggle="dropdown"
        aria-expanded="false">
        Bank : <span *ngIf="newDropdownbank.length == 0">All</span>

        <div class="d-flex" *ngFor="let item of newDropdownbank">
          {{ item + "," }}
        </div>
        <i class="fa-solid fa-chevron-down"></i>
        <i class="fa-regular fa-circle-xmark" (click)="removebankFilter()"></i>
      </button>
      <ul class="dropdown-menu menu2" aria-labelledby="dropdownbank">
        <li>
          <a class="dropdown-item" *ngFor="let item of banksList; let i = index">
            <input type="checkbox" class="checkBox" [value]="item.id" (change)="applybank(item, $event)" />
            &nbsp; {{ item?.name?.[0].lookupName }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Table -->
  <div class="row mt-3">
    <div class="col-md-12">
      <app-table-advanced [config]="tableConfig" [columns]="tableColumns" [link]="'deposit-cheque/detail'" [data]="deposites" [loading]="loading"
        [page]="page" [total]="total" [limit]="limit" (sortUpdated)="onSortChange($event)"
        (pageUpdated)="onPageChange($event)">
        <ng-template libTableAdvancedColumn="customerName" let-row="row">
          {{ row.customer?.customerName}}
        </ng-template>
        <ng-template libTableAdvancedColumn="chequeCollectionJod" let-row="row">
          {{ row.chequeCollectionJod}} JOD
        </ng-template>
        <ng-template libTableAdvancedColumn="chequeDate" let-row="row">
          {{ row.chequeDate | date :'dd MMM yyyy'}}
        </ng-template>
        <ng-template libTableAdvancedColumn="collectedAt" let-row="row">
          {{ row.collectedAt | date :'dd MMM yyyy' }}
        </ng-template>
        <ng-template libTableAdvancedColumn="status" let-row="row">
          <p class="collected-btn"
          [style.color]="row?.statusObj?.lookupTextColor"
          [style.background-color]="row?.statusObj?.lookupBGColor" > {{row?.statusObj?.translations?.[0].lookupName}} </p>
        </ng-template>
        <ng-template libTableAdvancedColumn="action" let-row="row"st >
          <div class="dropdown" style="position: absolute !important; margin-top: -15px;" [ngClass]="{'disabled': row?.statusObj?.translations?.[0]?.lookupName == 'Collected'}" >
            <div class="btn dropdownButton"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <ul class="dropdown-menu menu" aria-labelledby="dropdownMenuButton1">
              <li *ngIf="row?.statusObj?.translations?.[0]?.lookupName == 'Deposited'
              || row?.statusObj?.translations?.[0]?.lookupName == 'Re-deposited'|| row?.statusObj?.translations?.[0]?.lookupName == 'Re-deposit'
              || row?.statusObj?.translations?.[0]?.lookupName == 'Replaced';else secondBlock">
                <a class="dropdown-item" (click)="depositDetail(item,row)" *ngFor="let item of firstActionList" >
                 {{ item?.name?.[0].lookupName}}
                </a>
              </li>

              <ng-template #secondBlock>
                <li *ngIf="row?.statusObj?.translations?.[0]?.lookupName == 'Returned' || row?.statusObj?.translations?.[0]?.lookupName == 'Bounced';else thirdBlock">
                  <a class="dropdown-item" (click)="depositDetail(item,row)" *ngFor="let item of secondActionList" >
                   {{ item?.name?.[0].lookupName}}
                  </a>
                </li>
              </ng-template>
              <ng-template #thirdBlock>
                <li *ngIf="row?.statusObj?.translations?.[0]?.lookupName == 'Collected'">
                  <!-- <a class="dropdown-item" (click)="depositDetail(item,row)" *ngFor="let item of actionList" >
                   {{ item?.name?.[0].lookupName}}
                  </a> -->
                </li>
              </ng-template>
            </ul>
          </div>
          <!-- <a class="btn btn-view" (click)="viewDetails(row)">view</a> -->
        </ng-template>
      </app-table-advanced>
    </div>
  </div>
</div>
