<div class="row mt-2">
    <div class="col-md-10">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <ng-select class="flex-grow-1 mt-3 mt-md-0" [formControl]="searchText" (clear)="onClear()"
                    (change)="handleCategoryChange($event)" placeholder="Provider" [items]="provider"
                    bindLabel="providerName" bindValue="providerId">
                </ng-select>
            </div>
            <div class="col-lg-3 col-md-6 filterFlex">
                <div class="input-group search-box">
                    <div class="dropdown">
                        <button class="btn dropdownFilters" type="button">
                            <input [(ngModel)]="datepickerInput" type="text" (bsValueChange)="onDateValueChange($event)"
                                placeholder="Select Date" class="form-control" bsDatepicker
                                #dp="bsDatepicker"   [bsConfig]="{ containerClass: 'theme-red',isAnimated: true,showClearButton: true}">
                            <img (click)="dp.toggle()" class="calender" src="../../../../assets/images/calendar.png" alt="">
                            <!-- <img class="down" src="../../../../assets/images/down.png" alt=""> -->
                            <i class="fa-regular fa-circle-xmark" *ngIf="datepickerInput"
                                (click)="removeCollectionDateFilter()"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <ng-select (clear)="onCTClear()" (change)="handleCardType($event)" class="flex-grow-1 mt-3 mt-md-0"
                    placeholder="Search By Card" [items]="cardlist" bindLabel="name.lookupName" bindValue="id">
                </ng-select>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="input-group search-box">
                    <button class="btn" type="button" id="button-addon1">
                        <i class="fa-solid fa-search"></i>
                    </button>
                    <input type="text" class="form-control" placeholder="Net Amount" [formControl]="netAmount"
                        (input)="validateInput($event)" />
                        <button class="btn" type="button" id="button-addon1" [hidden]="netAmount.value == null" (click)="removeNetAmountFilter()">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-12 text-heading">
        <h5>Selected Amount: {{selectedAmount | number : '1.3-3'}} JOD</h5>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-6 text-heading">
        <h5>Unreconciled Cards Transactions List</h5>
    </div>
    <div class="col-lg-5 offset-1">
        <div class="row">
            <div class="col-lg-9 text-end text-heading">

            </div>
            <div class="col-lg-3 text-end">
                <p>Total No. {{total}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-3">
        <app-table-advanced [config]="tableConfig" [selecteddata]="selecteddata" [columns]="tableColumns" [data]="reconciliation" [loading]="loading"
            [page]="page" [total]="total" [limit]="limit" (sortUpdated)="onSortChange($event)"
            (selectedData)="onSelectData($event)" (pageUpdated)="onPageChange($event)">

            <ng-template libTableAdvancedColumn="providerName" let-row="row">
                {{ row.provider?.providerName}}
            </ng-template>

            <ng-template libTableAdvancedColumn="providerName" let-row="row">
                {{ row.provider?.providerName}}
            </ng-template>

            <ng-template libTableAdvancedColumn="collectionAt" let-row="row">
                {{ row?.collectionAt | date}}
            </ng-template>

            <ng-template libTableAdvancedColumn="branchName" let-row="row">
                {{ row.branch?.branchName}}
            </ng-template>

            <ng-template libTableAdvancedColumn="registersName" let-row="row">
                {{ row.register?.registersName}}
            </ng-template>

            <ng-template libTableAdvancedColumn="cardType" let-row="row">
                {{ row.cardType?.translations[0].lookupName}}
            </ng-template>

            <ng-template libTableAdvancedColumn="cardCollectionJod" let-row="row">
                {{ row?.cardCollectionJod | number : '1.3-3'}} JOD
            </ng-template>

            <ng-template libTableAdvancedColumn="commission" let-row="row">
                {{ row?.commission}} %
            </ng-template>

            <ng-template libTableAdvancedColumn="cardCollectionJodNet" let-row="row">
                {{ row?.cardCollectionJodNet | number : '1.3-3' }} JOD
            </ng-template>
        </app-table-advanced>
    </div>
    <div class="col-lg-12 mt-3 text-end">
        <button class="btn btn-cancel me-2" routerLink="/credit-card">
            <span>Close</span>
        </button>
        <button class="btn btn-add" [disabled]="isvalid " (click)="onPostReconcilationIds()">
            <span>Post</span>
        </button>
    </div>
</div>


<ng-template class="modal fade w-100 modal-dialog-centered" id="exampleModalToggle" aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel" tabindex="-1" #myModal let-modal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="../../../assets/svg/check-one.svg" alt="" srcset="" class="mt-4">
                <h5 class="mt-4">Successfully posted!</h5>
                <p class="mt-3 mb-4">Your reconciliation is created successfully</p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template class="modal fade w-100 modal-dialog-centered" id="exampleModalToggle" aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel" tabindex="-1" #myErrorModal let-modal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="../../../assets/svg/close-circle.svg" alt="" srcset="" class="mt-2">
                <h5 class="mt-4">Failed to create reconciliation </h5>
                <p class="mt-3 mb-4">{{this.erromessage}}</p>
            </div>
        </div>
    </div>
</ng-template>
